<nav class="primaryNav navigation">
  <ul>
    <li>
      <a href="{{site.base_url }}/about">About John</a>
    </li>
    <li>
      <a href="{{site.base_url }}/my-approach">My Approach</a>
    </li>
	 <li>
      <a href="{{site.base_url }}/group">Group Therapy</a>
    </li>
        <li>
      <a href="{{site.base_url }}/policies">Policies</a>
    </li>
    <li>
      <a href="{{site.base_url }}/faq">FAQ</a>
    </li>
    <li>
      <a href="{{site.base_url }}/contact">Contact</a>
    </li>
  </ul>
</nav>