<div class="sidebar">
	<!-- <h4>Search</h4>
	<div class="posts-search">
		<input type="text" placeholder="Search Posts" />
		<button class="btn primary-btn">Submit</button>
		
		<a class="clear-results" href="{{site.base_url}}/posts">Clear Results</a>
	</div> -->
	<h4>About the Author</h4>
	<div class="about--side">
		<p>I am a full stack developer currently working at <a href="http://www.cardfree.com">CARDFREE</a> building out RESTful services that supports our mobile apps and customer portal. For the most part I am working in .NET using Web API, but am becoming more immersed in RoR and grails.</p>

		<p>I am originally from Boston, but have been living in Colorado for some time now. In my spare time I try to keep pace with my energentic golden, hike and ski, and occassionally post something interesting.</p>
	</div>
</div>