<section class="slider-wrapper">
	<ul id="bxslider">
	  <li><img src="{{ site.base_url }}/images/slider/pond-mountains-slider.jpg" alt="Looking at the mountains from a pond" /></li>
	  <li><img src="{{ site.base_url }}/images/slider/snowy-mountains-slider.jpg" alt="Snowy mountains reflected on a pond" /></li>
	  <li><img src="{{ site.base_url }}/images/slider/forest-path-slider.jpg" alt="Winding path in the forest" /></li>
	  <li><img src="{{ site.base_url }}/images/slider/red-trees-slider.jpg" alt="Red trees in front of a mountain" /></li>
	</ul>
</section>