<section class="slider-wrapper">
	<ul id="bxslider">
	  <li><img src="{{ site.base_url }}/images/slider/pond-mountains.png" alt="Looking at the mountains from a pond" /></li>
	  <li><img src="{{ site.base_url }}/images/slider/forest-sunlight.png" alt="Sunlight coming through a forest" /></li>
	  <li><img src="{{ site.base_url }}/images/slider/autumn-mountains.png" alt="Autumn mountains" /></li>
	  <li><img src="{{ site.base_url }}/images/slider/leaf.png" alt="Leat fading" /></li>
	</ul>
</section>