$primaryColor: #082567;
$headerBackgroundColor: #e3e3e3;
$darkGrey: #475155;
$borderColor: #eaf0f3;
$footerColor: #9ba9af;
$footerBorderColor: #6b757b;

.flex-display {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.hidden {
	display: none;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	white-space: nowrap;
	border: 1px solid transparent;
}

.primary-btn {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4; 
}