{% include top.html %}
  <body>
    <div id="wrapper" class="wrapper">
      
      {% include header.html %}

      {% if page.banner_url %}
      <img src="{{ site.base_url }}/{{ page.banner_url }}" alt="page banner" class="banner" />
      {% endif %}

      <section class="main-content">
      	{{ content }}
      </section>
      <div class="push"></div>
    </div>
	  {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>

<!-- Lol -->
<button id="raptor" style="display: none"></button> 

<script src="{{ site.base_url }}/javascript/jquery.bxslider.min.js"></script>
<script src="{{ site.base_url }}/javascript/raptor/jquery.raptorize.2.0.js"></script>
<script>
  $(document).ready(function(){
  $('#bxslider').bxSlider({
    mode: 'fade',
    captions: true,
    pager: false,
    auto: true,
    pause: 5000
  });

  $('#raptor').raptorize({
    'enterOn' : 'konami-code'
  });

  $('#logo').hover(function() {
    $( this ).attr("src", "{{ site.base_url }}/images/logo.png");
  }, function() {
    $( this ).attr("src", "{{ site.base_url }}/images/logo-white.png");
  });

  // If a user scrolls below the absolute top, then update the header
  $(window).scroll(function () {
    var $header = $("#header");

    if ($header.offset().top == 0) {
      $header.removeClass("alternate-header");
      $header.find('#logo').attr("src", "{{ site.base_url }}/images/logo-white.png");
    }
    else if (!$header.hasClass("alternate-header"))
    {
      $header.addClass("alternate-header");
      $header.find('#logo').attr("src", "{{ site.base_url }}/images/logo.png");
    }
  });
});
</script>